<main>
     
    <div class="album pt-0 py-5 ">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2  g-1">
          <div class="col">
            <img class="d-block w-100" src="./../../assets/decorimg/sthlm/Ls1_Slussen.jpg" alt="">
          </div>
          <div class="col">
            <img class="d-block w-100" src="./../../assets/decorimg/Kungsportsplatsen.jpg" alt="">
          </div>
        </div>
        
        <div class="row row-cols-1 row-cols-md-2 g-1">  
          <div class="col">
            <div class="card float-right blockcolorBlue">
              <div class="row itemrow">
               <a routerLink="/tavla">gbg</a> 
         
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card float-right blockcolorLight">
              <div class="row itemrow">
                gbg
         
              </div>
            </div>
          </div>         
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-1" style="margin-top:1px;">
          <div class="col">
            <div class="card float-right blockcolorLight">
              <div class="row itemrow">
                <div class="col-sm-6">
                  <img class="d-block w-100" src="./../../assets/prodimg/Sthlm-5.png" alt="">
                </div>
                <div class="col-sm-6 itemtextblock">
                  <div class="card-block">
                    <!--           <h4 class="card-title">Small card</h4> -->
                    <h2>Stockholmsalmanackan 2023</h2>
                    <p>229 kr</p>                    
                    <a href="#" class="btn btn-success float-right">Köp</a>
                  </div>
                </div>
         
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card float-right blockcolorBlue">
              <div class="row itemrow">
                <div class="col-sm-6">
                  <img class="d-block w-100" src="./../../assets/prodimg/Sthlm-5.png" alt="">
                </div>
                <div class="col-sm-6 itemtextblock">
                  <div class="card-block">
                    <!--           <h4 class="card-title">Small card</h4> -->
                    <h2>Copy paste the HTML and CSS.</h2>
                    <p>229 kr</p>                    
                    <a href="https://gaius.se/produkt/stockholmsalmanackan-2022/" class="btn btn-success float-right">Köp</a>
                  </div>
                </div>
         
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card float-right blockcolorBlue">
              <div class="row itemrow">
                <div class="col-sm-6">
                  <img class="d-block w-100" src="./../../assets/prodimg/Sthlm-5.png" alt="">
                </div>
                <div class="col-sm-6 itemtextblock">
                  <div class="card-block">
                    <!--           <h4 class="card-title">Small card</h4> -->
                    <h2>Copy paste the HTML and CSS.</h2>
                    <p>229 kr</p>                    
                    <a href="#" class="btn btn-success float-right">Köp</a>
                  </div>
                </div>
         
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card float-right  blockcolorLight">
              <div class="row itemrow">
                <div class="col-sm-6">
                  <img class="d-block w-100" src="./../../assets/prodimg/Sthlm-5.png" alt="">
                </div>
                <div class="col-sm-6 itemtextblock">
                  <div class="card-block">
                    <!--           <h4 class="card-title">Small card</h4> -->
                    <h2>Copy paste the HTML and CSS.</h2>
                    <p>229 kr</p>                    
                    <a href="#" class="btn btn-success float-right">Köp</a>
                  </div>
                </div>
         
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card float-right blockcolorLight">
              <div class="row itemrow">
                <div class="col-sm-6">
                  <img class="d-block w-100" src="./../../assets/prodimg/Sthlm-5.png" alt="">
                </div>
                <div class="col-sm-6 itemtextblock">
                  <div class="card-block">
                    <!--           <h4 class="card-title">Small card</h4> -->
                    <h2>Copy paste the HTML and CSS.</h2>
                    <p>229 kr</p>                    
                    <a href="#" class="btn btn-success float-right">Köp</a>
                  </div>
                </div>
         
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card float-right blockcolorBlue">
              <div class="row itemrow">
                <div class="col-sm-6">
                  <img class="d-block w-100" src="./../../assets/prodimg/Sthlm-5.png" alt="">
                </div>
                <div class="col-sm-6 itemtextblock">
                  <div class="card-block">
                    <!--           <h4 class="card-title">Small card</h4> -->
                    <h2>Copy paste the HTML and CSS.</h2>
                    <p>229 kr</p>                    
                    <a href="#" class="btn btn-success float-right">Köp</a>
                  </div>
                </div>
         
              </div>
            </div>
          </div>  
        
        </div>
      </div>
    </div>
  
  </main>
