.itemrow{
    img{width: auto;}
    padding: 30px 20px;
}
.buybutton{
    height:40px; 
    width: 180px;
}
.card-block{
    margin-top:20px;
    margin-bottom: 20px;
    line-height: 20px;
    padding-left: 0px;
}
.tavlaBlock{
    div{
        text-align: end;
        line-height: 2px;
    }
    margin:0 10%;
   h2 {
        font-size: 1.2rem;
    }
}