<main>
     
    <div class="album pt-0 py-5 ">
      <div class="container">  
       
      <div class="row row-cols-1 row-cols-md-2 g-1">  
        <div class="col">
          <div class="card float-right blockcolorLight">
            <div class="row itemrow">
             Tavlor
       
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card float-right blockcolorBlue">
            <div class="row itemrow">
              <a routerLink="/"> <img class="d-block "  src="./../../assets/bakatPil.png" alt=""></a>
       
            </div>
          </div>
        </div>         
      </div>
        <div class="row row-cols-1 row-cols-md-2 g-1" style="margin-top:1px;">         
          <div class="col">
            <div class="card float-right blockcolorBlue">
              <div class="row itemrow">                
                <img class="d-block mx-auto" src="./../../assets/prodimg/ramad-affisch_sthlm4.png" alt="">
                  <div class="card-block ">
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end tavlaBlock">
                      <div class="me-md-2 ">
                        <h2>Copy paste the HTML and CSS.</h2>
                        <p>229 kr</p>
                      </div>
                      <button class="btn btn-success buybutton"  type="button">Köp</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card float-right blockcolorLight">              
              <div class="row itemrow">              
                <img class="d-block mx-auto" src="./../../assets/prodimg/ramad-affisch_sthlm4.png" alt="">
                  <div class="card-block ">
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end tavlaBlock">
                      <div class="me-md-2 ">
                        <h2>Copy paste the HTML and CSS.</h2>
                        <p>229 kr</p>
                      </div>
                      <button class="btn btn-success buybutton"  type="button">Köp</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          
          <div class="col">
            <div class="card float-right blockcolorLight">
              <div class="row itemrow">                
                <img class="d-block mx-auto" src="./../../assets/prodimg/ramad-affisch_sthlm4.png" alt="">
                  <div class="card-block ">
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end tavlaBlock">
                      <div class="me-md-2 ">
                        <h2>Copy paste the HTML and CSS.</h2>
                        <p>229 kr</p>
                      </div>
                      <button class="btn btn-success buybutton"  type="button">Köp</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card float-right blockcolorBlue">
              <div class="row itemrow">                
                <img class="d-block mx-auto" src="./../../assets/prodimg/ramad-affisch_sthlm4.png" alt="">
                  <div class="card-block ">
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end tavlaBlock">
                      <div class="me-md-2 ">
                        <h2>Copy paste the HTML and CSS.</h2>
                        <p>229 kr</p>
                      </div>
                      <button class="btn btn-success buybutton"  type="button">Köp</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  
  </main>
